html, body{
    margin: 0;
    padding: 0;
}

/* Sign-up styling */
.signUpContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signUpForm{
    width: 500px;
    margin: 50px auto;
    margin-top: 100px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    text-align: center;
}

.formItems{
    display: flex;
    flex-direction: column;
    align-items: center;
}

input{
    margin-bottom: 10px;
    width: 350px;
    height: 35px;
    border-radius: 10px;
}

.signUpButton{
    width: 200px;
    height: 30px;
    border-radius: 16px;
    background-color: #1877F2;
    color: #fff;
}

/* Login Styling */
.loginContainer{
    width: 500px;
    margin: 50px auto;
    margin-top: 100px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    text-align: center;
}

.loginButton{
    width: 200px;
    height: 30px;
    border-radius: 16px;
    background-color: #1877F2;
    color:#fff;
}


/* Homepage Styling */
header{
    position: fixed;
    top: 0; left:0; right: 0;

}


.homepageHeader{
    background-color: #596e79;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headerTitle{
    margin-left: 70px;
    font-size: 30px;
    color: #dfd3c3;
}

.headerContainer{
    display: flex;
    align-items: center;    
    gap: 10px;
    margin-right: 70px;
}

.createButton{
    width: 100px;
    height: 30px;
    border-radius: 16px;
    background-color: #dfd3c3
}

.modifyButton{
    width: 120px;
    height: 30px;
    border-radius: 16px;
    background-color: #dfd3c3
}

.homepageContent{
    margin-top: 30px;
    padding: 70px;
}

.homepageTitle{
    font-size: 40px;
    padding-bottom: 8px;
    border-bottom: 1px solid;
}

/* Blog List Styling */
.blogsContainer{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    gap: 16px;
}

.blogCard{
    border: 1px solid;
    border-radius: 12px;
}

.displayedBlogContent{
    padding: 12px;
    
}

.blogTitle{
    font-size: 25px;
    font-weight: bold;
}

.blogContent{
    color: #837d7d;
}


/* Blog Creaton/Update Form */
.blogCreationUpdateForm{
    display: flex;
    flex-direction: column;
    align-items: center;

}


.titleCreation{
    margin-top: 100px;
}

.postingTitle{
    font-size: 20px;
}


.blogPostFormContainer{
    display: grid;
    grid-template-columns: 140px 1fr;
    column-gap: 12px;
    row-gap: 12px;
    margin-bottom: 20px;
}


.blogPostFormContainer textarea{
    border-radius: 12px;
    border: 1px solid;
}

.blogFormButton{
    display: flex;
}

.formButton{
    border-radius: 10px;
    width: 80px;
    height: 30px;
    background-color: #596e79;
    color: #dfd3c3;
    margin-left: auto;
}

.blogButtons{
    display: flex;
    gap: 20px;

}

.deleteButton{
    border-radius: 10px;
    width: 80px;
    height: 30px;
    background-color: #596e79;
    color: #dfd3c3;
}

.editButton{
    border-radius: 10px;
    width: 80px;
    height: 30px;
    background-color: #596e79;
    color: #dfd3c3;
}

.homeButton{
    width: 140px;
    height: 30px;
    border-radius: 16px;
    background-color: #dfd3c3
}